.about_content {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: auto;
}

.about_two {
    background-color: #022859; 
    margin: auto;
}

@media (min-width: 600px) {
    .about_content {
        display: flex;
        flex-direction: column;
        max-width: 1000px;
    }
    
}

@media (min-width: 850px) {
    .about_content {
        display: flex;
        flex-direction: column;
        padding: 40px;
        margin: auto;
    }
}