.shopping_cart {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 1000px;
    padding: 10px 50px;
    margin: 20px auto;
    background-color: #022859;
    box-shadow: 5px 5px 10px black;
}

.buy {
    width: 1000px;
    margin: 80px auto;
    padding-left: 1000px;
}