.sections {
  background-color: #022859;
  display: flex;
  flex-direction: column;
  padding: 100px;
  margin: 30px 10px;
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: 5px 5px 5px black;
  align-items: center;
  text-align: center;
  gap: 20px;
  max-width: 250px;
}

.section_text {
  justify-content: flex-start;
  padding-bottom: 50px;
}

.text_content {
  padding-bottom: 50px;
}

.section_image {
}

.logo {
  max-width: 200px;
  background-color: #7614d9;
  padding: 30px;
  border-radius: 20px;
}

.cover {
  max-width: 100px;
  box-shadow: 5px 5px 5px black;
  margin: 5px;
}

@media (min-width: 690px) {
  .sections {
    margin: 50px;
    width: 550px;
    max-width: none;
  }

  .cover {
    max-width: 150px;
  }
}

@media (min-width: 1180px) {
  .sections {
    width: 1000px;
    height: 300px;
    flex-direction: row;
    text-align: left;
    max-width: none;
  }
  .logo {
    max-width: 300px;
  }

  .cover {
    max-width: 180px;
  }
}
