legend {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
}

.registrer_form {
    font-family: 'Open Sans', sans-serif;
    max-width: 500px;
    margin: 50px auto;
    box-shadow: 5px 5px 5px black;
    border-radius: 25px;
    background-color: #0487D9;
    padding: 30px;
    align-items: center;
    color: #fff;
}

.form__input {
    display: block;
    width: 90%;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px black;
    padding: 10px;
    margin: 10px;
}

fieldset {
    border: none;
}

.button {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 50px auto;
}
#registrer_btn {
    position: relative;
    margin: 30px auto;
    border: none;
    color: #fff;
    background: #7614D9;
    padding: 10px 20px;
    border-radius: 25px;

}

#registrer_btn:hover {
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}