.profile_picture {
  max-width: 150px;
  width: 20%;
  border-radius: 50%;
}

.profile_picture {
  max-width: 150px;
  width: 20%;
  border-radius: 50%;
}

.friends_content_picture {
  height: 110px;
  width: 110px;
  border-radius: 50%;
}

.profile_info {
  max-width: 500px;
  margin: 10px auto;
  padding: 20px;
  background-color: #0487d9;
  border-radius: 25px;
  box-shadow: 5px 5px 5px black;
}

.section_content {
  padding-bottom: 60px;

  text-align: center;
}
