* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "open sans";
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

h1 {
    position: relative;
    font-size: 60px;
    padding-bottom: 30px;
    bottom: 30px;
}
h2 {
    font-size: 40px;
    padding-bottom: 20px;
}

h3 {
    font-size: 40px;
}

p {
    position: relative;
    font-size: 25px;
    bottom: 50px;
}

/*Header*/
header {
    display: flex;
    align-items: center;
    position: relative;
    background-image: linear-gradient(to right, #7614D9, #022859);
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    margin: 5px 50px 10px 40px;
    width: 100px;    
    transform: rotate(-15deg);
}

nav, 
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

nav {
    position: absolute;
    background: #0487D9;
    top: 82px;
    left: 0px;
    z-index: 8;
}

nav a {
    display: block;
    text-align: center;
    font-size: 40px;
    color: #fff;
    padding: 30px 40px;
}

a {
    text-decoration: none;
}

.active {
    text-decoration: underline;
}
/*Header search bar*/
.box-menu {
    max-width: 400px;
    width: 100%;
}

.box-menu, 
.search {
    position: relative;
    height: 50px;
    margin: auto;
    box-shadow: 0 5px 10px #rgba(0,0,0,0,25);
    border-radius: 25px;
    transition:all 0.3s ease;
}

#check:checked ~ .search {
    max-width: 400px;
}

.search input {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background: #fff;
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: 18px;
}
.search 
.search-icon {
    position: absolute;
    right: -25px;
    top: 0;
    width: 50px;
    border-radius: 25px;
    background: #fff;
    height: 100%;
    text-align: center;
    line-height: 50px;
    color: rgb(3, 3, 3);
    font-size: 20px;
}

#check:checked ~.search .search-icon {
    background: #0487D9;
    color: #fff;
    border-radius: 25Px 25px 25px 25px;
}
#check {
    display: none;
}

.cart {
    color: #fff;
    font-size: 40px;
    position: relative;
    right: 150px;
}

.my_site {
    color: #fff;
    font-size: 40px;
    position: relative;
    right: 50px;
}

/*Body*/
body {
    background-color: #022859;
    color: #fff;
}

main {
}

.welcome_text {
    font-family: "Verdana", Geneva, Tahoma, sans-serif;
    position: center;
    text-align: center;
    padding-top: 100px;
}

.content {
    display: flex;
    justify-content: center;

}

.new, 
.coming_soon,
.sale {
    font-family: "open sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    flex: 1;
}

.new_image,
.coming_soon_image,
.sale_image {
    width: 200px;
    position: relative;
    left: 25px;
}

.right_button {
    position: relative;
    bottom: 80px;
    left: 60px;
    font-size: 50px;
    color: #0487D9;
}

.left_button {
    position: relative;
    bottom: 145px;
    right: 161px;
    font-size: 50px;
    color: #0487D9;
}

/*New*/
.new_content {
}

.p {
    position: relative;
    padding-top: 60px;
}

.furius {
    position: absolute;
    background-color: #7614D9;
    border-radius: 10%;
    padding: 10px;
    margin: 70px;
    max-height: 500px;
    min-height: 500px;
    max-width: 300px;
    z-index: 1;
}

.forge_legend {
    position: absolute;
    background-color: #7614D9;
    border-radius: 10%;
    padding: 10px;
    margin: 70px;
    max-height: 500px;
    min-height: 500px;
    max-width: 300px;
    z-index: 2;
}

.black {
    position: absolute;
    background-color: #7614D9;
    border-radius: 10%;
    padding: 10px;
    margin: 70px;
    max-height: 500px;
    min-height: 500px;
    max-width: 300px;
    z-index: 3;
}

/*Coming soon*/
.coming_soon_content {
}

.coming_soon {
}

.assassin {
    position: absolute;
    background-color: #7614D9;
    border-radius: 10%;
    padding: 10px;
    margin: 70px;
    max-height: 500px;
    min-height: 500px;
    max-width: 300px;
    z-index: 4;
}

.spacewar {
    position: absolute;
    background-color: #7614D9;
    border-radius: 10%;
    padding: 10px;
    margin: 70px;
    max-height: 500px;
    min-height: 500px;
    max-width: 300px;
    z-index: 3;
}

.racing {
    position: absolute;
    background-color: #7614D9;
    border-radius: 10%;
    padding: 10px;
    margin: 70px;
    max-height: 500px;
    min-height: 500px;
    max-width: 300px;
    z-index: 2;
}

.cyberpunk {
    position: absolute;
    background-color: #7614D9;
    border-radius: 10%;
    padding: 10px;
    margin: 70px;
    max-height: 500px;
    min-height: 500px;
    max-width: 300px;
}

/*Sale*/
.sale_content {
}

.sale {
}

.boxer {
    position: absolute;
    background-color: #7614D9;
    border-radius: 10%;
    padding: 10px;
    margin: 70px;
    max-height: 500px;
    min-height: 500px;
    max-width: 300px;
}

.pingpong {
    position: absolute;
    background-color: #7614D9;
    border-radius: 10%;
    padding: 10px;
    margin: 70px;
    max-height: 500px;
    min-height: 500px;
    max-width: 300px;
}

.superduper {
    position: absolute;
    background-color: #7614D9;
    border-radius: 10%;
    padding: 10px;
    margin: 70px;
    max-height: 500px;
    min-height: 500px;
    max-width: 300px;
    min-width: 300px;
}

/*Footer*/
footer {
    position: absolute;
    background: #0487D9;
    height: 300px;
    width: 100%;
    margin-top: 750px;
}

.footer__section {
    display: flex;
    justify-content: center;
}

.follow__us__section {
    flex: 1;
    position: relative;
    top: 20px;
    left: 50px;
    padding-right: 700px;
}

.follow__us {
    position: absolute;
    left: 10px;
    top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fa-instagram,
.fa-square-twitter,
.fa-square-facebook,
.fa-youtube {
    color: #fff;
    display: grid;
    text-align: center;
    font-size: 30px;
    padding: 0 0 30px;
}

.contact__us__content {
    flex: 1;
    position: relative;
    top: 20px;
    left: 0px;
}

.Contact__us p {
    position: relative;
    top: 10px;
    margin: 20px;
}

