@font-face {
    font-family: "open sans";
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

.new, 
.coming_soon,
.sale {
    font-family: "open sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #7614D9;
    text-align: center;
    border-radius: 10%;
}

.new {
    margin: 70px 1600px 10px 90px;
    padding: 30px;
}

.new_image {
    width: 400px;
}

.coming_soon {
    margin: 70px 850px 100px 850px;
    padding: 30px;
}

.coming_soon_image {
    width: 400px;
}

.sale {
    margin: 70px 90px 10px 1600px;
    padding: 30px;
}

.sale_image {
    width: 400px;
}

h1 {
    font-size: 60px;
}
h2 {
    font-size: 50px;
}

p {
    font-size: 30px;
}

.welcome_text {
    font-family: "Verdana", Geneva, Tahoma, sans-serif;
    position: center;
    text-align: center;
    padding: 100px;
}

header {
    display: flex;
    align-items: center;
    position: relative;
    background-image: linear-gradient(to right, #7614D9, #022859);

}

.logo {
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 50px;
    width: 100px;    
    transform: rotate(-15deg);
}

nav, 
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

nav {
    position: absolute;
    background: #0487D9;
    top: 72px;
    left: 0px;
}

nav a {
    display: block;
    text-align: center;
    font-size: 40px;
    color: #fff;
    padding: 30px 40px;

}

body {
    background-color: #022859;
    color: #fff;
}

.footer {
    background-color: #7614D9;
    
}